#company{
    padding: 80px 0;
}

.company-item{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.company-box{
    width: 210px;
    height: 130px;
    background: rgba(196, 196, 196, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}