*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul,ol{
  list-style: none;
}

.container{
  width: 1410px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
  line-height: 0.8px;
}

.common-btn{
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 28px;
  border-radius: 18px;
  background: #8454F5;
  border: 1px solid #8454F5;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  transition: .4s;
}

.common-btn:hover{
  background: transparent;
  color: #8454F5;
}

.text{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #29313D;
  text-transform: capitalize;
  line-height: 200%;
  opacity: 0.8;
}